In order to run this program you will need python 3.7+ and an up to date version of flask
If you do not have these things then download python at https://www.python.org/downloads/
Once downloaded use the command "pip install flask" in your command prompt in order to gain flask
