<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrappin stuff</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>You filled out them fields and it worked</h1>
  <p>Time to figure out how to spam you with emails until you die :D</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <img src="https://cdn2.bigcommerce.com/server2400/9dfa8/products/2017/images/7697/35183-01_z__50628.1497463480.1280.1280.jpg?c=2" alt="YOU DID IT">
    </div>
    <div class="col-sm-4">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fyou%2Bdid%2Bit&psig=AOvVaw0gUBgNGj2FFgHEpmuMfJKV&ust=1581876218673000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiI86OS1OcCFQAAAAAdAAAAABAJ" alt="You don't suck">
    </div>
    <div class="col-sm-4">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fqvcc.edu%2Fcongratulations-you-did-it%2F&psig=AOvVaw0gUBgNGj2FFgHEpmuMfJKV&ust=1581876218673000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiI86OS1OcCFQAAAAAdAAAAABAP" alt="You are the good">
    </div>
    </div>
  </div>
</div>

</body>
</html>